<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>REST Consumer</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="container-fluid">
    <h2 class="text-center" th:text="${pageTitle}"></h2>

    <div class="my-3">
      <form th:action="@{/luggage/save}" method="post" th:object="${luggage}"
        style="max-width: 550px; margin: 0 auto">

        <input type="hidden" th:field="*{luggageId}" />
        

<div class="form-group row">
 			 <label class="col-sm-3 col-form-label" for="flight">Passenger Name</label>
  			 <div class="col-sm-9">
  			 	
    		<select name="passenger" id="passenger" th:field="*{passenger.passengerId}" required>
      			<option th:each="passenger : ${passenger}"
              		th:value="${passenger.passengerId}"
              		th:text="${passenger.getName()}"
			     />
			   </select>
			 </div>
		</div>
				


        <div class="text-center">
          <input type="submit" value="Save" class="btn btn-primary btn-sm mr-2" />
          <a href="/luggage/list" class="btn btn-secondary btn-sm">Cancel</a>
        </div>
      </form>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer"></div>
</body>

</html>
